<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Info about User</h2>
<div th:text="${user.username}"></div>
<div th:text="${user.lastName}"></div>
<div th:text="${user.email}"></div>
<div th:text="${user.password}"></div>


<br>
<form th:method="POST" th:action="@{/admin/user/delete/{id}(id=${user.getId()})}" >
    <button type="submit">Delete</button>
</form>
<br>
<div>
    <button>
        <a th:href="@{/admin/user/edit/{id}(id=${user.getId()})} "> Edit User</a>
    </button>
</div>
<br>

<a href="/logout" style="cursor: pointer">
    <button type="button">LogOut</button>
</a>

<button style="cursor: pointer" onclick="document.location='/admin/users'">Back to page all Users</button>

</body>
</html>